.poke-cell {
    width: 110px;
    height: 120px;
    margin: 10px;
    background-color: #FFF;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .poke-cell:hover{
    background-color: rgb(192, 192, 192);
  }